{{ define "main" }}

{{ if or (eq .Section "post") (eq .Section "posts") }}

<div class="post-head">
  <div class="container">
    {{ if .Params.video_embed }}
    <div class="col col-12">
      <div class="post-video">
        <div class="post-video__wrap">
          <iframe src="{{ .Params.video_embed }}" loading="lazy" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
    {{ else }}

    {{ if .Params.image }}
    <div class="post-image">
      <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
    </div>
    {{ end }}

    {{ end }}

    <h1 class="post__title">{{ .Title }}</h1>

    <div class="post__meta">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }} &middot; {{.Params.Minutes}} min or less </time> 
    </div>
  </div>
</div>


<div class="container animate">

  <!-- begin post -->
  <article class="post amimate">
    <div class="post__content">
      {{ .Content }}
    </div>

    {{ partial "share-buttons.html" . }}

  </article>
  <!-- end post -->

</div>

<!-- {{ partial "related-posts.html" . }} -->

{{ if .Site.Params.disqus.disqusShortname }}
  <div class="container">
    <div class="row">
      <div class="col col-12">
        {{ partial "disqus-comments.html" . }}
      </div>
    </div>
  </div>
{{ end }}

{{ end }}

{{ end }}